<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1 class="app-name">
            <a routerLink="/home">Thermostat Monitor</a>
        </h1>
        <nav>
            <ng-container *ngIf="currentUser != null">
                <a mat-button routerLink="/home" routerLinkActive="active">Monitoring</a>
                <a mat-button routerLink="/add-thermostat">Add Thermostat</a>
            </ng-container>
        </nav>
        <ng-container *ngIf="currentUser==null">
            <span>
                <a mat-button routerLink="/login">Login</a>
            </span>
        </ng-container>
        <ng-container *ngIf="currentUser != null">
            <div class="user-panel">
                <span>Welcome, {{currentUser.username}}</span>
                <mat-icon (click)="logout()" class="logout-icon" aria-hidden="false" aria-label="logout icon">logout
                </mat-icon>

            </div>
        </ng-container>


    </mat-toolbar-row>

</mat-toolbar>