<h2>Monitoring Thermostats</h2>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = changePage($event)">
</mat-paginator>
<table mat-table [dataSource]="thermostats" class="mat-elevation-z8">
    <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
    </ng-container>

    <ng-container matColumnDef="household_token">
        <th mat-header-cell *matHeaderCellDef> Token </th>
        <td mat-cell *matCellDef="let element"> {{element.household_token}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.location">
                {{element.location.line2}} , {{element.location.line1}} , {{element.location.city}} ,
                {{element.location.country}}
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary">Details</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>